@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

 
  
  body{
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    background-size: 400% 400%;
    position: relative;
    animation: gradientAnimation 10s ease-in-out infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: linear-gradient(to right, #434343 0%, #000000 100%);
  }
  /*barra de navegacion*/
  nav {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 6.5rem; 
    justify-content:space-between;
    align-items: center;
    padding: 0 1.25rem;
    background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
    font-size: 1.2rem;
    color: #00ffff;
    box-shadow: 0.625rem 0.313rem 0.313rem #000000;
  }

  
  
/*logo*/
  .logo {
  width: 16rem;
  margin-top: 1.2rem;
    }
  
  
  .title{
    font-size: 3.5rem;
    color:aliceblue;
    text-align:center ;
    margin-top: 2rem;
    text-shadow:black 0.1em 0.1em 0.1em;
  }

 .container {
  display: flex;
  justify-content: center;
}

/* Estilos personalizados para la tabla */
table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-radius: 10px;
  
}


table th, 
table td {
  padding: 8px;
  text-align: center;
  background: rgba(99, 99, 99, 0.5);
  background: -webkit-linear-gradient(
    to right,
    rgba(161, 171, 88, 0.5),
    rgba(99, 99, 99, 0.5)
  );
  background: linear-gradient(
    to right,
    rgba(161, 171, 88, 0.5),
    rgba(99, 99, 99, 0.5)
  );
  
  
  /*color: white !important; */
}

 

.btn{
    text-align: center;
  }

  .list_btn{
  background-color: #00a0df;
	color: #fff;
  font-size: 18px;
	padding: 10px 20px;
	border-radius: 5px;
  }
  .list_btn:hover{
    background-color: #45a049;
  }

  form {
    width:400px;
    padding: 20px;
    background: rgba(99, 99, 99, 0.5);
    background: -webkit-linear-gradient(
      to right,
      rgba(161, 171, 88, 0.5),
      rgba(99, 99, 99, 0.5)
    );
    background: linear-gradient(
      to right,
      rgba(161, 171, 88, 0.5),
      rgba(99, 99, 99, 0.5)
    );
    border-radius: 10px;
     
  }  

  form h2 {
    text-align: center;
  }

  form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  form input[type="submit"], form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }

  form input[type="submit"]:hover, form button:hover {
    background-color: #45a049;
  }

 
ul.list-group {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  box-shadow: 0 0 10px 0 #ffd90092;
  --bs-list-group-bg: transparent;
 
}
ul :hover {
  color: rgba(218, 165, 32, 0.775);
}

.vinculo {
  text-decoration: none;
  color: #ffffff;
}
.list-group{
  margin-bottom:3rem;
  
}
.list-group-item {
    background: rgba(99, 99, 99, 0.5);
    background: -webkit-linear-gradient(
      to right,
      rgba(161, 171, 88, 0.5),
      rgba(99, 99, 99, 0.5)
    );
    background: linear-gradient(
      to right,
      rgba(161, 171, 88, 0.5),
      rgba(99, 99, 99, 0.5)
    );
}
.list-group-item1{
    background: rgba(99, 99, 99, 0.5);
    background: -webkit-linear-gradient(
      to right,
      rgba(161, 171, 88, 0.5),
      rgba(99, 99, 99, 0.5)
    );
    background: linear-gradient(
      to right,
      rgba(161, 171, 88, 0.5),
      rgba(99, 99, 99, 0.5)
    );

}
.vertical {
  font-size: 1.2rem;
}

.modal-content {
  position:relative;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%; 
  width: auto; 
  max-height: 80%; 
  height: auto; 
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff!important

}
.modal-header{
  color: white;
}

.modal-header{
   background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526); 
} 

.modal-body{
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

}
.modal-footer{
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

.fa-solid.fa-trash{
  color: #ff0004d5;
}
.asterisk{
  color:#ff0000b4
}

.bottom{ 
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  color:#000000;
  display: flex;
  justify-content: center;
  box-shadow: 0.625rem 0.313rem 0.313rem #000000; 
  text-align: center;
  margin-bottom: 0.5rem;
  }

  .boton-deshabilitado {
    opacity: 0.5; /* Opacidad reducida para indicar que está deshabilitado */
    pointer-events: none; /* Evita que se pueda hacer clic en el botón */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  }
  

  /*Tamaño de pantalla pequeño */
  @media (max-width: 576px) {
    .list-group {
      flex-direction: column;
    }
  }

  /* Tamaño de pantalla mediano */
  @media (min-width: 577px) and (max-width: 768px) {
    .list-group {
      flex-direction: row;
    }
    .list-group-item.vertical {
      flex-direction: column;
    }
  }

/* Media query para dispositivos medianos */
@media (max-width: 991px) {
  footer {
    display: grid;
    
  }

}/* Media query para dispositivos pequeños */
@media (max-width: 767px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
  }
}